[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
psycopg2 = "*"
requests = "*"
django-allauth = "*"
django-admin-env-notice = "*"
django-grappelli = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-money = "*"
django-taggit = "*"

[requires]
python_version = "3.7"
